@import 'language-picker';

frm-multi-field, frm-field {
  display: block;
}

input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button {
    display: none;
}

input[type="date"] {
  --bw: 2px;
--a: calc(100% - var(--bw));
--b: calc(var(--a) - 26px);
clip-path: polygon(0% 0%, 0% 100%,
                 var(--b) 100%, var(--b) var(--bw),
                 var(--a) var(--bw), var(--a) var(--a),
                 var(--b) var(--a), var(--b) 100%,
                 100% 100%, 100% 0%);
}

.is-invalid + .remove-item-button {
  border-color: var(--bs-danger);

  .bi-x {
    fill: var(--bs-danger);
  }
}

.is-invalid + .remove-item-button:hover {
  background: var(--bs-danger);
  border-color: var(--bs-danger);

  .bi-x {
    fill: var(--bs-white);
  }
}

frm-form {
  &.loading {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-gray-100);
    padding: 100px 30px;
    border-radius: .25rem;

    .icon {
      flex: 0 0 auto;
    }
  }
}

.ce-block__content, .ce-toolbar__content { 
  max-width: calc(100% - 100px) !important; 
}

.cdx-block { 
  max-width: 100% !important; 
}

[widget="editor"] .editor-widget {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 36px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bs-gray-100);
  }
}