@import 'language-picker';
@import 'editorjs';
@import 'tooltip';
@import 'form-control';

frm-multi-field, frm-field , frm-grouper {
  display: block;
}

frm-grouper {
  flex: 1 1 auto;

  > .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button {
    display: none;
}

input[type="date"] {
  --bw: 2px;
--a: calc(100% - var(--bw));
--b: calc(var(--a) - 26px);
clip-path: polygon(0% 0%, 0% 100%,
                 var(--b) 100%, var(--b) var(--bw),
                 var(--a) var(--bw), var(--a) var(--a),
                 var(--b) var(--a), var(--b) 100%,
                 100% 100%, 100% 0%);
}

.is-invalid + .remove-item-button {
  border-color: var(--bs-danger);

  .bi-x {
    fill: var(--bs-danger);
  }
}

.is-invalid + .remove-item-button:hover {
  background: var(--bs-danger);
  border-color: var(--bs-danger);

  .bi-x {
    fill: var(--bs-white);
  }
}

frm-form {
  .loading-banner {
    display: none;
  }

  .form-actions {
    position: sticky;
    bottom: 0;
    display: flex;
    z-index: 100;
  }

  &.loading {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-gray-100);
    padding: 100px 30px;
    border-radius: .25rem;

    .loading-banner {
      display: block;
    }

    form {
      display: none;
    }

    .icon {
      flex: 0 0 auto;
    }
  }
}

frm-field {
  position: relative;

  .alert.alert-danger {
    position: absolute;
    right: 0;
    bottom: calc(100% - 20px);
    z-index: 1000;
  }
}
